@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inconsolata';
  overflow: hidden;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 65%;
  padding: 20px 0;
  position: relative;
  /* background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 1%); */
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  gap: 10px;
  height: calc(100vh - 50px);
}

.img-container {
  display: grid;
  place-items: center;
  width: 180px;
  height: 100px;
}

.text-container {
  padding: 0 10px 10px;
}

.article {
  width: 180px;
  height: 250px;
  overflow: hidden;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  color: #fefefe;
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  cursor: pointer;
  transition: all 100ms ease-in;
}

.article:hover {
  background: #1d1818;
  border: 2px solid #000;
}

.article-detail {
  font-size: 0.7rem;
  height: 60px;
  width: 150px;
  overflow: scroll;
  padding: 5px 0;
  position: absolute;
  bottom: 10px;
}

.article-price {
  position: absolute;
  bottom: 70px;
  left: 10px;
}

.article-title {
  font-size: 1rem;
  padding: 5px 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  filter: drop-shadow(2px 4px 10px black);
  height: 60px;
  overflow: scroll;
}

.article-detail::-webkit-scrollbar,
.article-title::-webkit-scrollbar,
.table-body::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  width: 100%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.nav {
  background-color: #655d72;
  background-image: linear-gradient(147deg, #655d72 0%, #898196 74%);
  color: aliceblue;
  height: 50px;
}

.logo {
  letter-spacing: 0.1em;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
}

.pagination {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.prev-btn,
.next {
  background-color: #CD607E;
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-family: inherit;
  font-size: 1rem;
}

.next {
  background-color: #CD607E;
  color: #FFFFFF;
}

li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #8B5B64;
  color: #fefefe;
  text-align: center;
  cursor: pointer;
}

.small-flex {
  width: 35%;
  height: calc(100vh-50px);
}

.invoice-container {
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.form-container {
  background-color: #f3e6e8;
  background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);
  height: 50%;
}

.form {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

.form-item {
  display: flex;
  justify-content: space-between;
}

input,
textarea {
  width: 300px;
  padding: 2px;
  font-family: inherit;
}

.giant-flex {
  display: flex;
}

.save-btn {
  background-color: #2b1331;
  background-image: linear-gradient(315deg, #2b1331 0%, #b9abcf 74%);
  border: none;
  padding: 5px 30px;
  font-family: inherit;
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: all 300ms ease;
}

.save-btn:active {
  transform: scale(1.05);
}

.form-header {
  display: block;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 0 auto;
  width: 200px;
  padding-top: 10px;
  text-transform: uppercase;
}

.edit-btn {
  background-color: #8B5B64;
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.6rem;
  font-family: inherit;
  color: #FFFFFF;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  right: 85px;
  bottom: 68px;
}

.edit-btn:active {
  transform: scale(1.05);
}

.delete-btn {
  background-color: #CD607E;
  right: 40px;
}

.add-btn {
  background-color: #655d72;
  right: 10px;
}

.save-btn:disabled {
  background: #999999 !important;
  cursor: not-allowed !important;
}

.invoice-thumbnail {
  width: 50px;
  height: 50px;
}

table {
  width: 100%;
}

tr {
  display: flex;
}

td {
  flex-grow: 1;
  width: 80px;
}

td.invoice-name {
  flex-grow: 3;
  text-overflow: ellipsis;
  width: 70%;
}

thead tr td {
  font-weight: 800;
}

.table-body {
  max-height: 200px;
  display: block;
  height: 150px;
  overflow: scroll;
}

table.invoice-table {
  padding: 0 20px;
}

.padded-row {
  padding: 10px 0;
  border-top: 1px solid #655d72;
  max-width: 100%;
}

.padded-head-row {
  padding: 10px 0;
}

.invoice-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px;
  padding: 0 20px;
}